@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease;
}
body{
    overflow: hidden;
}
input,input:focus{
    outline: none;
}
.error-message{
	display: none;
	justify-content: space-between;
	margin-top: 50px; 
	position: fixed;
	min-width: 30%;
	font-family: 'PT Sans', sans-serif;
	padding: 12px 25px;
	text-align: center;
	background: #ff6363;  /*green: #63ff73 , red:  #ff6363 , black: #303030*/
	border-radius: 15px;
	left: 50%;
	transform: translate(-50%, 0%);
	color: #f2f2f2;
	font-weight: 600;
    z-index: 999;
}
#close-error{
	position: relative;
	background: #ff6363;
	padding: 0px 6.5px;
	color: #f2f2f2;
	font-weight: 600;
	cursor: pointer;
	font-family: 'PT Sans', sans-serif;
}
#close-error:hover{
	background: #bf3434;
}
body{
    font-family: 'PT Sans', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f2f2f2;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(136, 212, 139);
    font-size: 1.2em;
    padding: 0px 15px;
}
.login-info{
    display: flex;
    align-items: center;
}
.page-title{
    padding: 15px;
}
.user-login-info{
    display: flex;
    border-right: 1px solid #000;
    padding: 0px 15px;
}
.logout-btn{
    cursor: pointer;
    padding: 10px 15px;
}
.logout-btn:hover{
    color: #f2f2f2;
    background: rgb(65, 138, 67);
}
.assignments-container{
    width: 100%;
    height: 90%;
    overflow-y: auto;
}
.assignment-wrapper{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 15px 27px;
    font-size: 1.2em;
    margin: 45px auto;
    background-color: #69cf6e;
    width: 80%;
    border-radius: 25px;
}
.assignment-info{
    padding: 11px 15px;
    display: inline-flex;
    justify-content: space-between;
    min-width: 40%;
    border-radius: 15px;
    background: #f2f2f2;
}
.assignment-functions{
    display: inline-flex;
    min-width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.assignment-search-wrapper{
    padding: 18px 27px;
}
#search-assignments{
    outline: none;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 11px 15px;
    font-size: 1.2em;
}
.assignment-function-btn{
    padding: 11px 15px;
    border-radius: 15px;
    margin: 0px 10px;
    background: #3f3f3f;
    cursor: not-allowed;
    color: #f2f2f2;
}
.assignment-window{
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 0;
    z-index: 15;
    background: rgb(255, 0, 0);
}
.assignment-window-inner{
    height: 100%;
    width: 100%;
    min-height: fit-content;
    display: flex;
    position: absolute;
    height: auto;
    z-index: 20;
    min-height: 100vh;
}
#long-answer-based, #short-answer-based{
    width: 100%;
    height: 100%;
    resize: none;
    background: #f2f2f2;
    font-size: 1.1em;
    font-family: 'PT Sans', sans-serif;
    padding: 20px;
}
#short-answer-based{
    display: none;
}
.left-pane{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    height: auto;
}
.right-pane{
    flex: 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #ff6363;
    min-height: 700px;
    height: auto;
}
.exam-info-bar{
    width: 100%;
    flex: 1;
    background: #69cf6e;
    font-family: 'Montserrat', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 600;
    min-height: 70px;
}
.exam-rules{
    width: 100%;
    flex: 2;
    background: #cfbc69;
    padding: 10px 30px;
}
ul#rules-list li{
    margin: 5px 0px;
}
.time-ticker{
    width: 100%;
    flex: 1;
    background: #69aacf;
    font-family: 'Montserrat', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 5px;
    min-height: 70px;
}
.submit-btn-wrapper{
    width: 100%;
    flex: 1;
    background: #7c7c7c;
}
#lava-zone{
    cursor: not-allowed;
    position: absolute;
    z-index: 18;
    height: 100%;
    width: 100%;
    background: #f80000;
}
.assignment-chat{
    min-height: 330px;
    max-height: 50%;
    width: 100%;
    flex: 3;
    background: #cf69c7;
}
.warning-assignment{
    animation: blinkWarning 1s linear infinite;
}
.question-paper-wrapper{
    max-height: 50%;
    flex: 1;
    overflow-y: auto;
    border: 2px solid #000;
}
#answer-form, #questionBlock{
    width: 100%;
    height: 100%;
}
.answer-form-wrapepr{
    flex: 1;
}
#text-answers{
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 1.2em;
    font-family: 'PT Sans', sans-serif;
}
.chat-container{
    width: 100%;
    min-height: 85%;
    max-height: 90%;
    padding: 10px 5px;
    background: #f2f2f2;
    overflow-y: auto;
}
.chat-message{
    padding: 0px 5px;
    margin: 20px 10px;
    border-left: 1px solid rgb(46, 46, 46);
}
.message-sender{
    color: rgb(65, 138, 67);
}
.chat-input-container{
    display: flex;
    justify-content: space-evenly;
    padding: 6px 10px;
    align-items: center;
}
#chat-input{
    border: none;
    outline: none;
    width: 70%;
    padding: 7px;
    font-size: 1.1em;
    border-radius: 7px;
}
#chat-input:focus{
    border: none;
    outline: none;
}
#submit-chat-message{
    border: none;
    outline: none;
    font-size: 1.1em;
    padding: 5px;
    cursor: pointer;
    border-radius: 7px;
}
#submit-chat-message:hover{
    background: #c0c0c0;
}
.final-submit-window{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #69cf6e;
    display: none;
    z-index: 60;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.submit-warning{
    padding: 30px;
    background: #f2f2f2;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #000;
    font-size: 1.1em;
    width: 40%;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 50;
    transform: translate(-50%,-50%);
}
.submit-window-inner{
    padding: 30px;
    background: #f2f2f2;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #000;
    font-size: 1.1em;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#answer-file{
    display: none;
}
.submit-warning-btns{
    display: flex;
    justify-content: space-evenly;
}
.submit-warning-message{
    color: #f80000;
}
.upload-file-btn, .final-submit-btn, .submit-warning-btn{
    padding: 10px 20px;
    background: #69cf6e;
    cursor: pointer;
    color: #000;
    margin: 13px 0px;
}
.submit-warning-btn{
    margin: 20px 0px !important;
}
.initial-submit-btn{
    cursor: pointer;
    padding: 10px;
    text-align: center;
    min-width: 100%;
    height: 100%;
    font-size: 2.4em;
}
.ended-assignment{
    background: #7c7c7c;
}
.available-assignment{
    background: #69cf6e;
}
.not-avaliable-assignment{
    background: #bf3434;
}
.blocked-window{
    display: none;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    min-height: inherit;
    z-index: 40;
    flex: 3;
    left: 25%;
    right: 0px;
}
.block-messg{
    font-size: 1.4em;
    color: #4bbb50;
    padding: 13px;
    border-radius: 5px;
    background: #f2f2f2;
    margin: 0px auto;
}
.warning-display{
    width: 95vw;
    height: 95vh;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(25px);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 150;
    padding: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#warning-msg{
    background: #69cf6e;
    color: #f2f2f2;
    font-size: 2.2em;
    padding: 12px;
    border-radius: 5px;
}
.final-time-ticker{
    margin-top: 30px 0xp;
    background: #f2f2f2;
    padding: 30px 40px;
    border-radius: 5px;
}
#final-clock-container{
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: 7px;
    color: #4bbb50;
}
.assignment-start{
    background-color: #f57474;
    color: #000;
    cursor: pointer;
}
.responsive-break{
    display: none;
}
.returned-assignments-container{
    width: 100%;
    height: 100%;
    display: none;
    background: #f2f2f2;
    overflow-y: auto;
}
.assignment-search-wrapper{
    display: flex;
    justify-content: space-between;
}
#show-returned{
    padding: 0px 10px;
    font-size: 1.1em;
    cursor: pointer;
    background: #4bbb50;
    color: #f2f2f2;
}
#show-returned:hover{
    background: #f2f2f2;
    color: #4bbb50;
}
.returned-assignments-container{
    padding: 25px 15px;
}
#back-returns{
    padding: 8px;
    font-size: 1.1em;
    background: #4bbb50;
    color: #f2f2f2;
    cursor: pointer;
}
#back-returns:hover{
    background: #f2f2f2;
    color: #4bbb50;
}
#returned-assignments-wrapper{
    padding-top: 30px;
}
.returned-assignment{
    margin: 30px auto;
    width: 80%;
    background: #69cf6e;
    border-radius: 20px;
    font-size: 1.2em;
    padding: 15px 27px;
    overflow: hidden;
}
.return-assignment-result{
    display: flex;
    flex-direction: column;
}
.return-assignment-marks, .return-assignment-note{
    background-color: #f57474;
    margin: 8px 0px;
    border-radius: 10px;
    padding: 13px;
    color: #f2f2f2;
}
.return-assignment-info{
    padding: 13px;
    background: #f2f2f2;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.mcq-question{
    display: block;
    font-size: 1.4em;
}
.mcq-question-wrap{
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-evenly;
}
.options-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.option-wrapper {
    display: inline-block;
    min-width: 50%;
    padding: 10px;
    max-width: min-content;
    margin: 10px 0px;
}
input.mcq-option {
    margin-right: 10px;
}
.mcq-question-btn-wrapper{
    display: flex;
    justify-content: space-evenly;
}
#next-mcq-question-btn , #prev-mcq-question-btn{
    padding: 10px 20px;
    font-size: 1.1em;
    background: rgb(0,150,0);
    color: #f2f2f2;
    cursor: pointer;
    border: 3px solid rgba(0,0,0,0);
}
#next-mcq-question-btn:hover, #prev-mcq-question-btn:hover{
    background: rgba(0,0,0,0);
    border: 3px solid rgb(0,150,0);
    color: #000;
}
#questionBlock{
    padding: 30px 40px;
    overflow-y: auto;
    background: #f2f2f2;
}
.question-view-btn{
    display: inline-block;
    height: fit-content;
    padding: 10px 20px;
    margin: 15px 15px;
    background: #e04545;
    color: #f2f2f2;
    font-size: 1.3em;
    cursor: pointer;
}
.question-view-btn:hover{
    background: rgb(0,150,0);
    color: #f2f2f2;
}
@keyframes blinkWarning{
    0%{
        background: #f80000;
    }
    50%{
        background: #ffffff;
    }
    100%{
        background: #ff0000;
    }
}
@media screen and (max-width: 1000px) {
    .assignment-window-inner{
        flex-direction: column;
    }
    .left-pane{
        display: block;
        min-height: 300px;
        max-height: 300px;
    }
    .right-pane{
        margin-top: 50px;
    }
    .question-paper-wrapper, .answer-form-wrapepr{
        min-height: 400px;
        max-height: 400px;
    }
    .blocked-window{
        width: 100%;
        height: 800px;
        left: 0;
    }
    .exam-info-bar, .exam-rules{
        min-width: 33%;
        max-width: 33%;
        min-height: 100%;
        max-height: 100%;
        float: left;
        min-height: inherit;
    }
    .assignment-chat{
        display: inline-block;
        min-width: 34%;
        max-width: 33%;
        min-height: 100%;
        max-height: 100%;
        min-height: inherit;
    }
    .chat-container {
        min-height: 250px;
        max-height: 250px;
    }
    .time-ticker{
        float: left;
        min-height: 50px;
        min-width: 50%;
        max-width: 50%;
        text-align: center;
    }
    .submit-btn-wrapper{
        min-height: 50px;
        display: inline-block;
        max-width: 50%;
        min-width: 50%;
        text-align: center;
    }
    .initial-submit-btn{
        font-size: 1.8em;
    }
    #long-answer-based, #short-answer-based, #answer-form, #text-answers,#questionBlock,#questionBlock,#short-answer-based, .mcq-question-wrap{
        min-height: inherit;
        max-height: inherit;
    }
}
@media screen and (max-width: 850px) {
    .assignment-wrapper{
        flex-direction: column;
    }
    .assignment-functions{
        margin-top: 20px;
    }
}
@media screen and (max-width: 750px) {
    .left-pane{
        font-size: 0.95em;
    }
}
@media screen and (max-width: 705px) {
    .left-pane{
        min-height: fit-content;
    }
    .exam-info-bar{
        float: none;
        min-width: 100%;
        min-height: 50px;
        min-height: 50px;
    }
    .exam-rules{
        float: none;
        min-width: 100%;
        min-height: fit-content;
        min-height: 242px;
        max-height: 242px;
        overflow-y: auto;
    }
    .assignment-chat{
        min-width: 100%;
        min-height: fit-content;
        max-height: 100%;
    }
    .right-pane{
        margin-top: 330px;
    }
    .time-ticker{
        font-size: 2em;
    }
    .initial-submit-btn{
        font-size: 1.3em;
    }
    .submit-warning{
        width: 55%;
    }
    #long-answer-based, #short-answer-based, #text-answers, #answer-form,#questionBlock{
        min-height: inherit;
    }
}
@media screen and (max-width: 450px) {
    .assignment-wrapper{
        flex-direction: column;
        font-size: 1em !important;
    }
    #lava-zone{
        display: none;
    }
    .assignment-info{
        flex-direction: column;
        text-align: center;
    }
    .assignment-title{
        margin-bottom: 10px;
    }
    .assignment-search-wrapper{
        flex-direction: column;
    }
    #search-assignments{
        width: 100%;
    }
    .time-ticker{
        font-size: 1.5em;
    }
    #search-assignments{
        margin-bottom: 20px;
    }
    #show-returned{
        padding: 10px;
    }
    .return-assignment-info{
        flex-direction: column;
        text-align: center;
    }
    .submit-warning{
        width: 70%;
    }
    .option-wrapper{
        min-width: 100%;
        max-width: 100%;
        display: block;
    }
}
@media screen and (max-width: 350px) {
    .assignment-functions{
        flex-direction: column;
    }
    .assignment-function-btn{
        margin: 5px;
    }
    .nav-wrapper{
        font-size: 0.99em !important;
        align-items: center;
        flex-direction: column;
    }
    .returned-assignment{
        width: 100%;
    }
    .submit-warning{
        width: 90%;
    }
    .mcq-question-btn-wrapper{
        flex-direction: column;
    }
    #prev-mcq-question-btn{
        margin-bottom: 10px;
    }
}