<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Reset Password Form: </h1>
    <h2>Student Form</h1>
    <div id="student-password-reset-form">
        <form action="/password_verification/" method="POST">
            {% csrf_token %}
            <input type="text" name="user" value="student" hidden required>
            <input type="text" name="userid" placeholder="ID" required>
            <input type="text" name="class" placeholder="Class" required>
            <input type="text" name="section" placeholder="Section" required>
            <input type="submit" value="Submit">
        </form>
    </div>
    <h2>Teacher Form</h1>
    <div id="teacher-password-reset-form">
        <form action="/password_verification/" method="POST">
            {% csrf_token %}
            <input type="text" name="user" value="teacher" hidden required>
            <input type="text" name="userid" placeholder="ID" required>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>